@import './../../shared/utils';
@import './../../shared/variables';

.hero-decorative{
	width: 100%;
	height: 400px;
	position: relative;
	top: 20px;
	
	&__image{
		position: absolute;
		width: 100vw;
		height: 400px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__cta{
		position: absolute;
		display: flex;
		width:100%;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		&-description{
			color: white;
			font-size: 30px;
			font-family: $descriptionFont;
		}

		&-button{
			background: $buttonBackground;
  			border-radius: 28px;
  			font-family: $contentFont;
  			color: $letterColor;
  			font-size: 16px;
  			padding: 10px 20px 10px 20px;
			text-decoration: none;

			&:hover{
				background: $buttonHover;
  				text-decoration: none;
			}
		}
	}
	
}
