doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto")
  body
    nav.main
    div.hero-content
